@import "bootstrap/scss/bootstrap-reboot";

@import "bootstrap/scss/modal";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/type";

#wrapper, .element-main {
    // The display flex is required to use the order property
    display: flex;

    // The gap is the space between the elements. It is not required but it is recommended
    gap: 1rem;
}

#wrapper {
    // The flex-direction is required to use the order property correctly
    flex-direction: column;
}

.element-description, .element-footer, .element-main, .element-title {
    margin: 0;
    padding: .75rem;
    border-radius: 4px;
    border: 1px solid;
}

.element-description {
    background-color: aliceblue;
    border-color: blue;
}

.element-footer {
    background-color: lightgreen;
    border-color: green;
}


.element-title {
    background-color: lightpink;
    border-color: red;
}

.element-main {
    background-color: lightyellow;
    border-color: yellow;

    // The flex-direction is required to use the order property correctly
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .element-main {
        // The flex-direction is required to use the order property correctly
        flex-direction: column;
    }    
}

// Business part
.neva {
    .element-title {
        order: 1;
    }
    .element-description {
        order: 0;
    }
    .element-main {
        order: 2;

        .element-left {
            order: 0;
        }
        .element-middle {
            order: 1;
        }
        .element-right {
            order: 2;
        }
    }
    .element-footer {
        order: 3;
    }
}

.supra {
    .element-title {
        order: 0;
    }
    .element-description {
        order: 1;
    }
    .element-main {
        order: 2;

        .element-left {
            order: 0;
        }
        .element-middle {
            order: 2;
        }
        .element-right {
            order: 1;
        }
    }
    .element-footer {
        order: 3;
    }
}